.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    overflow: auto;
    background-color: rgba(140, 232, 250, 0.5);
}

.modal-content {
    background-color: #fcffe7;
    width: 500px;
    height: auto;
    margin: 40px auto;
    padding: 20px;
    text-align: center;
    border-radius: 20px;
    box-shadow: 10px 5px 5px 3px rgba(0, 0, 0, 0.2);
}

.modal-image {
    width: 120px;
    height: auto;
    margin: 10px;
}

.modai-items {
    margin: 15px;
    text-align: left;
}

.modal-body {
    text-align: right;
    font-size: 1.8rem;
    margin: 3px;
}

.modai-items:nth-child(1) {
    text-align: center;
}

#modalItemId {
    text-align: center;
}

.modal-status-box {
    display: inline-block;
    height: auto;
    width: 400px;
    background-color: #fefbe7;
    border-radius: 5px;
    margin-bottom: 15px;
    border: solid 1px #dae5d0;
}

.closeBtn {
    float: right;
}
